/* Generales */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #eefcff;
}

*{
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}
.container{
    max-width: 1400px;
    margin: auto;
}
/* header */
header {
    position: fixed;
    background-color: rgb(245, 245, 245);
    width: 100%;
    text-align: center;

    
}
header.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 90%;
    height: 40%;
    margin: 10px auto;
}

#nav{
   display: flex;
   flex-direction: column;
   text-align: center;
}

header a{
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}
header a:hover{
    color: rgb(1, 76, 146);
    
}

/* hero */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image:linear-gradient(0,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
    ,url(https://fondosmil.com/fondo/31178.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    
    
}
#hero p{
    font-size: 20px;
    margin-bottom: 7px;
    padding: 0 4px;
}

/* section */
.body{
    display: flex;
    max-width: 650px;
    justify-content: center;
    margin: auto;
}
#all{
    padding-top: 160px;
    scroll-padding-top: 260px;
}
img{
    display: flex;
    width: 90%;
    height: 40vh;
    justify-content: center;
    margin: auto;
}
#hero h1{
    font-size: 50px;
    /* background-color: rgba(1, 76, 146, 0.3);
    border-radius: 20px; */
    margin:20px 20px 35px 20px;
    /* box-shadow: 10px 5px 5px rgba(0,0,0,0.3); */
    text-shadow: 10px 5px 5px rgba(0,0,0,0.6);
}
h2{
    text-align: center;
    font-size: 30px;
    background-color: rgba(1, 76, 146);
    border-radius: 30px;
    margin: 20px; 
    font-weight: bolder;
    color: rgb(245, 245, 245);
}
h3{
    text-align: center;
    font-size: 25px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    margin: 20px;
}
h2, h3{
    box-shadow: 6px 5px 5px rgba(0,0,0,0.3);
}
ul{
    list-style: none;
}
.body p{
    font-size: 20px;
    padding: 10px;
}
section[id]{
    scroll-margin-top: 240px;
}
/* footer */
footer p{

    margin: 0;
    padding: 12px;
    color: rgba(0,0,0,0.3);
}
footer .container{
    background-color: rgb(245, 245, 245);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}